[Bb]in/
[Oo]bj/
packages/
artifacts/

.vs/
.vscode/
*.lock.json
.nuget/
*.nuget.targets
*.nuget.props
*.orig
.DS_Store
*.sln.ide

# JetBrains
_ReSharper.*
*.ReSharper.user
*.resharper.user
.idea/
*.DotSettings.*